<ion-content>
  <div id="main-holder">

    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input [(ngModel)]="email" placeholder="email" type="email"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input [(ngModel)]="password" placeholder="password" type="password"></ion-input>
    </ion-item>

    <ion-button (click)="loginRegister()">Login/Register</ion-button>

  </div>
</ion-content>